$theme_background: #FFF;
$theme_primary: #333;
$theme_accent: #95B7C2;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Noto+Serif+Display:ital,wght@1,600&display=swap');


@mixin txt_default {
    font-family: 'Inter', sans-serif;
}