@import "./cssVariables.scss";
@import "./cssAnimations.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: $theme_accent;

  .App {
    color: $theme_background;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include txt_default;
}

h1 {
  font-size: calc(#{$base_unit} * 4.5); //72
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.18em;
}

h2 {
  font-size: calc(#{$base_unit} * 2.25); //36
  text-transform: uppercase;
  font-weight: 500;
}

h3 {
  font-size: calc(#{$base_unit} * 1.5); //24
  text-transform: uppercase;
  font-weight: 800;
  color: $theme_primary;
}

.content {
  padding: 64px 24px 0;
}

.cover-page {
  height: calc(100vh - 72px);
  display: grid;
  grid-template-rows: 2fr 1fr;
  place-items: center;
  animation: fadeIn ease-in-out 700ms, dropIn ease-in-out 700ms;

  h1 {
    font-size: 8vw;
    padding-bottom: 1vw;
    white-space: nowrap;
  }

  h2 {
    font-size: 5vw;
    white-space: nowrap;
  }
}

//Articles
.article-content {
  color: $theme_primary;
  h2 {
    text-transform: none;
    font-weight: 600;
    letter-spacing: -0.03em;
    text-align: center;
    padding-bottom: $base_unit;
  }
  p {
    background: rgba($theme_background, 0.5);
    padding: $base_unit;
    margin-bottom: $base_unit;
  }
}

@media only screen and (min-width: 768px) {
  .cover-page {
    h1 {
      font-size: 61px;
    }

    h2 {
      font-size: 38px;
    }
  }
}