@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes dropIn {
    0% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes slideIn_right {
    0% {
        transform: translateX(-30px);
    }
    100% {
        transform: translateX(0px);
    }
}
@keyframes slideIn_bottom {
    0% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0px);
    }
}